{{ if .Site.Params.widgets.categories }}
{{ if isset .Site.Taxonomies "categories" }}
{{ if not (eq (len .Site.Taxonomies.categories) 0) }}

<div class="mb-4">   
    <h3 class="h4 lined text-uppercase mb-4">{{ i18n "categoriesTitle" }}</h3>
    <nav class="nav flex-column nav-pills">
        {{ $current := . }}
        {{ range $name, $items := .Site.Taxonomies.categories }}
            {{ if eq $current.RelPermalink ($name | urlize | lower | printf "/categories/%s/") }}
                <a class="nav-link text-sm active" href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | upper }} ({{ len $items }})</a>
            {{ else }}
                <a class="nav-link text-sm" href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | upper }} ({{ len $items }})</a>
            {{ end }}
        {{ end }}
    </nav>
</div>
{{ end }}
{{ end }}
{{ end }}
