{{ if .Site.Params.widgets.tags }}
{{ if isset .Site.Taxonomies "tags" }}
{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
<div class="mb-0">
    <h3 class="h4 lined text-uppercase mb-4">{{ i18n "tagsTitle" }}</h3>
    <ul class="list-inline">
        {{ $current := . }}
        {{ range $name, $items := .Site.Taxonomies.tags }}
        <li class="list-inline-item me-2 mb-2">
            <a class="tag" href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}"><i class="fa fa-tags"></i> {{ $name }}</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
{{ end }}
{{ end }}
