<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}
        <section class="py-5">
            <div class="container py-4">
                <div class="row gy-5">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-lg-9" id="blog-listing-medium">

                        {{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.mainSections) }}
                        {{ range $paginator.Pages }}
                        
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image">
                                        <a class="d-block mb-3" href="{{ .Permalink }}">
                                            {{ if .Params.banner }}
                                            <img src="{{ .Params.banner | relURL }}" class="img-fluid" alt="">
                                            {{ else }}
                                            <img src="{{ "img/placeholder.png" | relURL }}" class="img-fluid" alt="">
                                            {{ end }}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="text-uppercase mb-3"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                    <div class="row gy-2 mb-2">
                                        <p class="text-sm text-uppercase mb-0 fw-light text-muted">
                                        {{ if isset .Params "authors" }}
                    {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a class="fw-normal" href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                                        {{ end }}
                                        {{ if isset .Params "categories" }}
                                        {{ if gt (len .Params.categories) 0 }}
                                        in 
                                        {{ range $index, $category := .Params.categories }}{{ if $index }}, {{ end }}
                                            <a class="fw-normal" href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}">{{ $category }}</a>{{ end }}
                                        {{ end }}
                                        {{ end }}

                                        </p>
                                        {{ if isset .Params "date" }}

                                        {{ $createdAt := .Date.Format .Site.Params.date_format }}
                                        {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                                            {{ $createdAt = replace $createdAt $month (i18n $month) }}
                                        {{ end }}

                                        <p class="date-comments">
                                            <a href="{{ .Permalink }}"><i class="far fa-calendar"></i> {{ $createdAt }}</a>
                                        </p>
                                        {{ end }}
                                    </div>
                                    {{ if not .Site.Params.recent_posts.hide_summary }}
                                    <p class="intro">{{ .Summary }}</p>
                                    <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                                    </p>
                                    {{ end }}
                                </div>
                            </div>
                        
                        {{ end }}

                        <div class="py-4 border-top">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center justify-content-between"><a class="btn btn-outline-primary" href="blog.html"><i class="fas fa-long-arrow-alt-left me-2"></i>Older</a><a class="btn btn-outline-primary disabled" href="#">Newer<i class="fas fa-long-arrow-alt-right ms-2"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
    _________________________________________________________ -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
