{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if isset .Site.Data "clients" }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="py-5 bg-gray-200">
    <div class="container py-4">
    
      <header class="mb-5">
        <h2 class="text-uppercase lined lined-center mb-4">{{ .Site.Params.clients.title | markdownify }}</h2>
        <p class="lead">{{ .Site.Params.clients.subtitle | markdownify }}</p>
      </header>
            

      <div class="swiper-container customers-slider">
        <div class="swiper-wrapper">
          {{ range .Site.Data.clients }}
          <div class="swiper-slide h-auto">
              {{ if .url }}
                <a href="{{ .url }}" target="_blank">
                  <img src="{{ .image }}" alt="{{ .name }}" class="img-fluid img-grayscale d-block mx-auto" />
                </a>
              {{ else }}
                <img src="{{ .image }}" alt="{{ .name }}" class="img-fluid img-grayscale d-block mx-auto" />
              {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
