{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section class="py-5 bg-fixed bg-cover bg-center dark-overlay" style="background: url(img/fixed-background-2.jpg)">
    <div class="dark-mask"></div>
    <div class="overlay-content container py-4 text-white text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-outlined icon-lg mx-auto mb-4"><i class="{{ .Site.Params.see_more.icon }}"></i></div>
                <h2 class="text-uppercase mb-3">{{ .Site.Params.see_more.title | markdownify }}</h2>
                <p class="lead mb-4">{{ .Site.Params.see_more.subtitle | markdownify }}</p>
                <p class="text-center">
                    {{ with .Site.Params.see_more.link_url }}
                    <a href="{{ . }}" class="btn btn-template-transparent-black btn-lg">
                    {{ end }}
                        {{ with .Site.Params.see_more.link_text }}
                        {{ . | markdownify }}
                        {{ end }}
                    {{ with .Site.Params.see_more.link_url }}
                    </a>
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
