{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if isset .Site.Data "testimonials" }}
{{ if gt (len .Site.Data.testimonials) 0 }}
<section class="py-5 bg-pentagon border-top border-gray-600">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-12">
                <h2 class="lined lined-center text-uppercase mb-4">{{ .Site.Params.testimonials.title }}</h2>

                <p class="lead text-center">
                  {{ .Site.Params.testimonials.subtitle | markdownify }}
                </p>

                <!-- *** TESTIMONIALS CAROUSEL *** -->

                <div class="swiper-container testimonials-slider">
                    <div class="swiper-wrapper">
                        {{ range .Site.Data.testimonials }}
                        <div class="swiper-slide h-auto mb-5">                        
                            <div class="p-4 bg-white h-100 d-flex flex-column justify-content-between">
                                <div class="mb-2">
                                    <p class="text-sm text-gray-600">{{ .text | markdownify }}</p>
                                    <p class="text-sm text-gray-600"></p>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <i class="fas fa-quote-left text-primary fa-2x"></i>
                                    <div class="d-flex align-items-center ms-3">
                                        <div class="me-3 text-end">
                                            <h5 class="text-uppercase mb-0">{{ .name }}</h5>
                                            <p class="small text-muted mb-0">{{ .position }}</p>
                                        </div>
                                        <img class="avatar p-1 flex-shrink-0" alt="{{ .name }}" src="{{ .avatar | absURL }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>                      
                    <div class="swiper-pagination"></div>        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
{{ end }}
