{{ if .Site.Params.topbar.enable }}

  <div class="top-bar py-2" id="topBar" style="background: #555">
    <div class="container px-lg-0 text-light py-1">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
          {{ .Site.Params.topbar.text | safeHTML }}
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-md-end justify-content-between">
            {{ range .Site.Menus.topbar.ByWeight }}
            <a href="{{ .URL | safeURL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
